---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Soy un desarrollador de software con más de 7 años de experiencia, apasionado por la arquitectura de sistemas modernos y las últimas tendencias como Micro Frontend y patrones de diseño. Trabajo con lenguajes como Java, Node.js, y Nest.js, y disfruto creando aplicaciones web y móviles con Angular, React, y React Native. Tengo experiencia trabajando con bases de datos tanto relacionales como NoSQL, y me siento cómodo manejando repositorios de código como GitHub. Además, llevo más de 3 años utilizando Docker y Kubernetes para optimizar el desarrollo y la implementación de proyectos.
		</p>
	</div>
</section>
